{% extends "base.html" %}

    {% block title %}
    My Tasks
    {% endblock %}

{% block content %}

    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-lg-center gap-3 mb-5">

        <div>

            <h2 class="fw-bold mb-1">
                <i class="bi bi-list-task"></i>
                My Tasks
            </h2>

            <p class="text-muted mb-0">
                Welcome,
                <strong>{{ user.username }}</strong> 👋
            </p>

        </div>

        <div class="d-flex flex-wrap gap-2">

            <a href="{% url 'add_task' %}"
                class="btn btn-primary">

                <i class="bi bi-plus-circle"></i>
                Add Task

            </a>

            <a href="{% url 'logout' %}"
                class="btn btn-outline-danger">

                <i class="bi bi-box-arrow-right"></i>
                Logout

            </a>

        </div>

    </div>

    <!----dashboard---->

    <div class="row g-3 mb-5">

        <div class="col-12 col-md-4">

            <div class="card shadow-sm h-100 border-primary">

                <div class="card-body text-center">

                    <i class="bi bi-list-task fs-1 text-primary"></i>

                    <h6 class="text-muted mt-2">
                        Total Tasks
                    </h6>

                    <h2 class="fw-bold">
                        {{ total_tasks }}
                    </h2>

                </div>

            </div>

        </div>

        <div class="col-12 col-md-4">

            <div class="card shadow-sm h-100 border-success">

                <div class="card-body text-center">

                    <i class="bi bi-check-circle fs-1 text-success"></i>

                    <h6 class="text-muted mt-2">
                        Completed
                    </h6>

                    <h2 class="fw-bold text-success">
                        {{ completed_tasks }}
                    </h2>

                </div>

            </div>

        </div>

        <div class="col-12 col-md-4">

            <div class="card shadow-sm h-100 border-warning">

                <div class="card-body text-center">

                    <i class="bi bi-clock fs-1 text-warning"></i>

                    <h6 class="text-muted mt-2">
                        Pending
                    </h6>

                    <h2 class="fw-bold text-warning">
                        {{ pending_tasks }}
                    </h2>

                </div>

            </div>

        </div>

    </div>




    <div class="card shadow-sm mb-4">

        <div class="card-body">

            <h5 class="mb-3">
                <i class="bi bi-search"></i>
                Search Tasks
            </h5>

            <form method="GET">

                <div class="input-group">

                    <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>

                    <input
                        type="text"
                        class="form-control"
                        name="q"
                        placeholder="Search by title or description..."
                        value="{{ query }}">

                    <button class="btn btn-primary">
                        Search
                    </button>

                    {% if query %}
                        <a href="{% url 'home' %}" class="btn btn-outline-secondary">
                            Clear
                        </a>
                    {% endif %}

                </div>

            </form>

        </div>

    </div>

    {% for task in tasks %}

    <div class="card mb-3 shadow-sm">

        <div class="card-body">

           <div class="task-content">

        

                    {% if task.completed %}
                        <h4 class="fw-bold text-success text-decoration-line-through mb-3">
                            {{ task.title }}
                        </h4>
                    {% else %}
                        <h4 class="fw-bold mb-3">
                            {{ task.title }}
                        </h4>
                    {% endif %}
                    
                <div class="d-flex flex-wrap gap-2 mb-3">

                    <!-- Admin / Personal Badge -->

                    {% if not request.user.is_superuser %}
                        {% if task.created_by.is_superuser %}
                            <span class="badge bg-danger">
                                <i class="bi bi-shield-fill-check me-1"></i>
                                Admin Task
                            </span>
                        {% else %}
                            <span class="badge bg-primary">
                                <i class="bi bi-person-fill me-1"></i>
                                Personal Task
                            </span>
                        {% endif %}
                    {% endif %}

                    <!-- Due Status -->

                    {% if not task.completed %}

                        {% if task.days_left > 0 %}
                            <span class="badge bg-info">
                                <i class="bi bi-hourglass-split me-1"></i>
                                {{ task.days_left }} day{{ task.days_left|pluralize }} left
                            </span>

                        {% elif task.days_left == 0 %}

                            <span class="badge bg-warning text-dark">
                                <i class="bi bi-alarm me-1"></i>
                                Due Today
                            </span>

                        {% else %}

                            <span class="badge bg-danger">
                                <i class="bi bi-exclamation-circle me-1"></i>
                                {{ task.overdue_days }} day{{ task.overdue_days|pluralize }} overdue
                            </span>

                        {% endif %}

                    {% else %}

                        <span class="badge bg-success">
                            <i class="bi bi-check-circle-fill me-1"></i>
                            Completed
                        </span>

                    {% endif %}

                </div>

                {% if task.description %}
                    <p class="text-muted mb-3">
                        {{ task.description }}
                    </p>
                {% else %}
                    <p class="text-muted fst-italic mb-3">
                        No description provided.
                    </p>
                {% endif %}


                <hr>

                <div class="row small text-muted mt-3">

                    <div class="col-md-4 mb-2">
                    <strong>
                        <i class="bi bi-calendar-event"></i>

                        Due
                    </strong>

                        <div>

                        {{ task.due_date|date:"d M Y" }}
                        
                        </div>

                    </div>

                    <div class="col-md-4 mb-2">
                    <strong>

                        <i class="bi bi-clock-history"></i>

                        Created
                    </strong>

                        <div>

                        {{ task.created_at|date:"d M Y • h:i A" }}

                        </div>

                    </div>

                     {% if request.user.is_superuser %}

                    <div class="col-md-4 mb-2">
                    <strong>
                        <i class="bi bi-person"></i>

                        Assigned To
                    </strong>

                        <div>

                        {{ task.assigned_to.username }}

                        </div>

                    </div>

                    {% endif %}

                </div>

                <hr>

                <div class="d-flex flex-wrap gap-2 mt-3">

                    {% if task.completed %}
                        <a href="{% url 'complete_task' task.id %}"
                            class="btn btn-secondary btn-sm">
                            <i class="bi bi-arrow-counterclockwise"></i>
                            Mark Pending
                        </a>
                    {% else %}
                        <a href="{% url 'complete_task' task.id %}"
                            class="btn btn-success btn-sm">
                            <i class="bi bi-check-circle"></i>
                            Mark Completed
                        </a>
                    {% endif %}

                    {% if request.user.is_superuser or task.created_by == request.user %}

                        <a href="{% url 'edit_task' task.id %}"
                            class="btn btn-outline-warning btn-sm">
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </a>

                        <a href="{% url 'delete_task' task.id %}"
                            class="btn btn-outline-danger btn-sm">
                            <i class="bi bi-trash"></i>
                            Delete
                        </a>

                    {% endif %}

                </div>
            </div>
        </div>

        {% empty %}

        <div class="alert alert-info">
            No tasks added yet.
        </div>

        {% endfor %}
    </div>

{% endblock %}